body {
	background: #f5f2f0;
}

.actions:after {
	content: '';
	clear: both;
	display: block;
}

.actions > form{
	float: left;
}

.actions > a {
	float: right;
}

.spec {
	display: none;
}

.show {
	display: block;
}

#templates {
	display: none;
}

.clock {
	display: none;
    font-size: 250px;
    position: absolute;
    right: -70px;
    top: -70px;
    z-index: 9;
}

.container {
	position: relative;
	padding-top: 200px;
}