  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

body {
	background: #f5f2f0;
}

header {
	display: none;
}

.actions:after {
	content: '';
	clear: both;
	display: block;
}

.spec {
	display: none;
}

.show {
	display: block;
}

#templates {
	display: none;
}

.clock {
    font-size: 250px;
    position: absolute;
    right: -70px;
    top: -70px;
    z-index: 9;
}

main .container {
	position: relative;
}

.result-right, .result-wrong, form {
	line-height: 36px;
}